{
  "env": {
    "browser": true,
    "commonjs": false,
    "es2021": true
  },
  "extends": [
    "google",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": [
    "@typescript-eslint",
    "tsc"
  ],
  "rules": {
    "tsc/config": [
      "error",
      {
        "configFile": "tsconfig.json"
      }
    ]
  }
}